<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.Board.mapper.boardMapper">
	
	 <!-- parameterType은 보내는 값, resultType은 반환되는 값  -->
	 <select id = "selectAll" resultType = "BoardVo" parameterType="SearchVo">
	 	SELECT b.bidx
	 		 , b.title
	 		 , b.midx
	 		 , b.content
	 		 , b.wdate	
	 		 , u.name
	 		 , u.id	 
	 	  FROM springboard b, springuser u
	 	 WHERE b.midx = u.midx
	 	 <if test='searchType != null and searchType.equals("title")'>
	 	 AND b.title like '%'||#{searchValue}||'%'
	 	 </if>
	 	 <if test='searchType != null and searchType.equals("contentWriter")'>
	 	 AND (b.content like '%'||#{searchValue}||'%'
	 	  OR u.name like '%'||#{searchValue}||'%')
	 	 </if>
	 	 ORDER BY bidx desc
	 </select>
	 
	 <insert id = "boradWrite" parameterType="BoardVo">
	 <!-- 무조건 sql데이터라고 알리는 CDATA태그 -->
	 <![CDATA[
	 	INSERT INTO springboard (
	 			  bidx
	 			, title
	 			, content
	 			, midx
	 			, wdate
	 	) VALUES (
	 			  springboard_bidx.nextval
	 			, #{title}
	 			, #{content}
	 			, #{midx}
	 			, sysdate
	 	)
	 ]]>
	 <!-- 현재 insert 되고 있는 컬럼 값을 가져오는 keyProperty, 실행 시점을 나타나는 order -->
	 <selectKey resultType = "int" keyProperty="bidx" order = "AFTER">
	 	SELECT max(bidx) FROM springboard
	 </selectKey>
	 </insert>
	 
	 <select id = "selectOne" resultType ="boardVo" parameterType = "int">
	 	SELECT b.bidx
	 		 , b.title
	 		 , b.midx
	 		 , b.content
	 		 , b.wdate	
	 		 , u.name
	 		 , u.id	 
	 	  FROM springboard b, springuser u
	 	 WHERE b.midx = u.midx
	 	   AND b.bidx = #{bidx}
	 </select>
</mapper>